<div class="center-content p-2">
    <div class="text-center">
        <img src="favicon.ico" width="80" />
        <br>
        <h1><b>No se puede acceder a una reunión</b></h1>
        <mat-divider></mat-divider>
        <br />
        <div class="text-center">
            <mat-icon style="font-size: 25px;" color="asset" [inline]="true">vpn_key</mat-icon>
            <br />
            <h4 style="color:rgb(194, 20, 20)"><b>{{message}}</b></h4>


        </div>
        <div style="font-size: 12px; color:rgb(150, 150, 150)" class="text-center mt-2">
            <span>Private meetings</span>
            <br />
            <span>Versión 1.0</span>
        </div>
    </div>
</div>