.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  
  .section-toolbar{
    color: white;
    height: 45px;
    align-items: center;
    width: 100%;
}

.section-participants {
  border-color: rgb(151, 151, 151);

  height: 480px; width: 100%;
  padding: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.secction-local-participant {
  border: solid 1px;
  border-color: rgb(151, 151, 151);
  height: 100%; width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; color: white;
  font-size: 3.5vh;
}

.secction-extern-participant {
  border: solid 1px;
  border-color: rgb(151, 151, 151);
  height: 100%; width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; color: white;
  font-size: 3.5vh;
}

.labelLocal {
    position: absolute;
    top: 110px;
    padding-left: 6px;
    padding-right: 7px;
    border-radius: 2px;
    padding-bottom: 4px;
    font-size: 14.5px;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.6);
}

.labelHablando {
  position: absolute;
    margin-top: 20px;
    font-size: 12px;
}

video {
  width: 100%;
  height: 100%;
}